
p, header {
    /* insert font here */
    font-family: 'Nerko One';
}

header .navbar-brand {
    color: white;
    background-color: rgb(0, 83, 83);
}

.img-thumbnail {
    min-height: 350px;
    min-width: 350px;
    max-height: 350px;
    max-width: 350px;

}

.name {
    color: white;
}

header .navbar-nav {
    text-align: right;
}

header {
    margin-bottom: 100px;
}


.jumbotron {
    min-height: 832px;
}

.display-4 {
    font-family: 'Nerko One';
    color: rgb(0, 83, 83);
}

#dev-photo {
    min-height: 200px;
    width: 200px;
    margin-right: 20px;
}

body {
/* insert background image here */
    background-image: url(../detroit-skyline.jpg);

}

.green {
    margin-top: 50px;
    padding: 5px;
    background-color: rgb(0, 83, 83);
}

.copyright::before {
    content: "©️";
    padding: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
    background-color: grey;
}

